.banner {
background: url(https://media.cntraveller.com/photos/611be85fab1fb48d7ae603af/master/w_1200,c_limit/2brighton-airbnb-mar21-pr.jpg);
height: 50vh;
position: relative;
}

.banner__info {
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
    border-color: gainsboro !important;
}

/* .banner__searchButton:hover {
    background-color: #ff7779 !important;
    color: white !important;
}
 */
.banner__nearbyButton {
    background-color: #ff7779 !important;
    color: white !important;
    text-transform: inherit !important;
    margin-top: 20px !important;
    font-weight: 600 !important;
    border-color: transparent !important;
}

.banner__nearbyButton:hover {
    border-color: white !important;
    background-color: white !important;
    color: #ff7779 !important;
}

.nearby__link {
    text-decoration: none;
}

.banner__info > h5 {
    margin-top: 10px;
}