.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    opacity: 1;
    cursor: pointer;
}

.searchResult:hover {
    opacity: 0.8;
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.searchResult__heart {
    position: absolute;
    top: 20px;
    right: 40px;
}

.searchResult__infoTop {
    width: 40vw;
}

.searchResult__infoTop > h3 {
    font-weight: 300;
    margin-top: 10px;
}

.searchResult__infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}