.search {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 100vw;
}

.search > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 380px;
}

.search > input {
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 420px;
    border: none;
    margin-top: 2px;
   
}

.search > input:focus {
    outline-width: 0;
}

.searchAirbnb__button {
    position: absolute !important;
    left: 0 !important;
    top: 490px !important;
    text-transform: inherit !important;
    background-color: #ff7779 !important;
    color: white !important;
    width: 579px !important;
}

.searchAirbnb__button:hover {
    background-color: white !important;
    color: #ff7779 !important;
}